*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html,body{
  min-height : 100vh;
  overflow-x : hidden;
}

#root{
  min-height : 100vh;
  padding-top : 1rem;
}